<h1>Log In</h1>

<div>
    <form method="POST" action="/login">
        <div class="form">
            <label for="username"></label>
            <input class="custom-form" type="text" name="username" placeholder="Username">
        </div>
        <div class="custom-form">
            <label for="password"></label>
            <input class="custom-form" type="password" name="password" placeholder="Password"><br><br>
            <button type="submit" class="custom-button">Log In</button>
        </div>
    </form>
</div>