<h1>Log In</h1>

<div>
    <form method="POST" action="/login">
        <div>
            <h5><label for="username">User Name:</label></h5>
            <input class="custom-form" type="text" name="username">
        </div>
        <div>
            <h5><label for="password">Password</label></h5>
            <input class="custom-form" type="password" name="password"><br><br>
            <button type="submit" class="custom-button">Log In</button>
        </div>
    </form>
</div>