@media screen {
  /* --- Reset Styles --- */
  * {
    list-style-type; square;
    margin: 0;
    padding: 0;
  }
  img {
    max-width:100%;
    height: auto;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .flash {
    padding-top: .5em;
    padding-bottom: .5em;
    width: 100%;
    background-color: #ff5722;
    color: white;
  }

  .profile-picture {
    width: 50%;
    height: auto;
    border-radius: 50%;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  body {
    background-color:#00adb5;
    color: Black;
    font-family: 'Permanent Marker', cursive;
    line-height: 18px;
    text-align: center;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .left {
    text-align: left;
  }

  .wrapper {
    background: #eeeeee;
    box-shadow: 0 0 40px #303841;
    margin: 40px auto;
    padding: 2em;
    max-width: 960px;
    width: 60%;
    border-radius: 20px;
  }

  .custom-button {
    background-color: #ff5722;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
  }
  a.button {
    background-color: #ff5722;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
  }

  a {
    color: black;
  }

  a:hover {
    color: #ff5722;
  }

  .small-form {
    width: 40%;
    padding: 10px;
    color: black;
    position: relative;
    border-radius: 10px;
    border: 2px solid #ff5722;
  }

  .large-form {
    height: 200px;
    width: 60%;
    height: 20%;
    padding: 5%;
    color: black;
    position: relative;
    border-radius: 10px;
    border: 2px solid #ff5722;
  }

  .signup-form {
    width: 80%;
    margin: 5%;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #ff5722;
  }

  ::-webkit-input-placeholder {
    text-align: center;
    color: #23689b;

 }
  div.post{
    text-align: center;
  }

  h1 {
    padding: 20px;
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
    padding-bottom: 1em;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }

  
  ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303841;
  }
  
  li.nav {
    float: left;
  }
  
  li.nav a {
    display: block;
    color: #eeeeee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.nav a:hover {
    background-color: #ff5722;
  }


  .ingredients {
    text-align: left;
  }

  input {
    text-align: start;
    text-shadow: #00adb5;
    
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }

}
