<h1>Create an Account!</h1>

<div >
    <form method="POST" action="/signup">
        <div>
            <h3><label for="username">Username:</label></h3>
            <input class="custom-form" type="text" name="user[username]">
        </div>
        <div>
            <h3><label for="email">Email:</label></h3>
            <input class="custom-form" type="email" name="user[email]">
        </div>
        <div>
            <h3><label for="password">Password:</label></h3>
            <input class="custom-form" type="password" name="user[password]">
        </div>
        <div>
            <h3><label for="password-confirmation">Confirm Password:</label></h3>
            <input class="custom-form" type="password" name="user[password_confirmation"><br><br>
        </div>
        <div>
            <button type="button" class="custom-button">Sign Up!</button>
        </div>
    </form>

</div>