<div class="wrapper">
    <form method="POST" action="/signup">
    <h2>Create an Account!</h2>
        <table class="center">
            <tr>
                <td>
                    <h5><label for="first_name">First Name:</label></h5>
                    <input class="signup-form" type="text" name="user[first_name]">
                </td>

                <td>
                    <h5><label for="last_name">Last Name:</label></h5>
                    <input class="signup-form" type="text" name="user[last_name]">
                </td>
            </tr>
        

            <tr>
                <td>
                    <h5><label for="username">User Name:</label></h5>
                    <input class="signup-form" type="text" name="user[username]">
                </td>
                <td>
                    <h5><label for="email">Email:</label></h5>
                    <input class="signup-form" type="email" name="user[email]">
                </td>
            </tr>
            <tr>
                <td>
                    <h5><label for="password">Password:</label></h5>
                    <input class="signup-form" type="password" name="user[password]">
                </td>
                <td>
                    <h5><label for="password_confirmation">Confirm Password:</label></h5>
                    <input class="signup-form" type="password" name="user[password_confirmation]">
                </td>
            </tr>
        </table>
        <div>

        <button type="submit" class="custom-button">Sign Up!</button>
        </div>
    </form>

</div>