<h1>Add Your Recipe Below!</h1>

<form action="/posts" method="POST">

    <h4><label for="title">Title:</label><br>
        <input class="custom-form" type="text" name="post[title]"><br>
    <label for="description">Content:</label> <br>
         <textarea class="custom-form" name="post[content]" type="text"></textarea></h4>
        <br>

    <label for="step[one]">Step One:</label><br>
        <input class="custom-form" type="text" name="post[step][][content]"><br><br>
    <label for="step[two]">Step Two:</label><br>
        <input class="custom-form" type="text" name="post[step][][content]"><br><br>
    <label for="step[three]">Step Three:</label><br>
        <input class="custom-form" type="text" name="post[step][][content]"><br><br>
    <label for="step[four]">Step Four:</label><br>
        <input class="custom-form" type="text" name="post[step][][content]"><br><br>
    <label for="step[five]">Step Five:</label><br>
        <input class="custom-form" type="text" name="post[step][][content]"><br><br>
    <label for="step[six]">Step Six:</label><br>
        <input class="custom-form" type="text" name="post[step][][content]"><br><br>


    <input class="custom-button" type="submit" value="Submit!">
</form>