<h1>Add Your Recipe Below!</h1>

<form action="/posts" method="POST" enctype="multipart/form-data">

    <div class="wrapper">

        <h4><label for="title">Title</label><br>
            <input class="small-form" type="text" name="post[title]"><br>

        <label for="description">Description</label> <br>
            <textarea cols="30" rows="10" class="large-form" name="post[content]" type="text"></textarea><br>
    </div>

    <div class="wrapper">        
        <table class="center">
            <h3>Ingredients</h3><br>
            <tr>
                <th></th>
                <th>Ingredient</th>
                <th>Amount</th>
                <th>Measurement</th>
            </tr>
            <tr>
                <h4><td><label for="first-ingredient">1st Ingredient</label></td></h4>
                <td><input class="small-form" type="text" name="post[ingredients][][name]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][amount]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][measurement]"></td>
            </tr>
            <tr>
                <td><label for="second-ingredient">2nd Ingredient</label></td>
                <td><input class="small-form" type="text" name="post[ingredients][][name]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][amount]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][measurement]"></td>
            </tr>
            <tr>
                <td><label for="third-ingredient">3rd Ingredient</label></td>
                <td><input class="small-form" type="text" name="post[ingredients][][name]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][amount]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][measurement]"></td>
            </tr>
            <tr>
                <td><label for="fourth-ingredient">4th Ingredient</label></td>
                <td><input class="small-form" type="text" name="post[ingredients][][name]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][amount]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][measurement]"></td>
            </tr>
            <tr>
                <td><label for="fifth-ingredient">5th Ingredient</label></td>
                <td><input class="small-form" type="text" name="post[ingredients][][name]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][amount]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][measurement]"></td>
            </tr>
                    <tr>
                <td><label for="six-ingredient">6th Ingredient</label></td>
                <td><input class="small-form" type="text" name="post[ingredients][][name]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][amount]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][measurement]"></td>
            </tr></h4>
        </table>
    </div>

    <div class="wrapper">
    <h3>Instructions</h3><br>
        <h4><label for="step[one]">Step 1</label><br>
            <textarea cols="30" rows="5" class="large-form" type="text" name="post[step][][content]"></textarea><br><br>
        <label for="step[two]">Step 2</label><br>
            <textarea cols="30" rows="5" class="large-form" type="text" name="post[step][][content]"></textarea><br><br>

        <label for="step[three]">Step 3</label><br>
            <textarea cols="30" rows="5" class="large-form" type="text" name="post[step][][content]"></textarea><br><br>

        <label for="step[four]">Step 4</label><br>
            <textarea cols="30" rows="5" class="large-form" type="text" name="post[step][][content]"></textarea><br><br>

        <label for="step[five]">Step 5</label><br>
            <textarea cols="30" rows="5" class="large-form"  type="text" name="post[step][][content]"></textarea><br><br>

        <label for="step[six]">Step 6</label><br>
            <textarea cols="30" rows="5" class="large-form" type="text" name="post[step][][content]"></textarea><br><br>
        
    </div>

    <input class="custom-button" type="file" name="post[photo]" value="Upload a Picture!"><br>

    <input class="custom-button" type="submit" value="Submit!">
</form>