<h1>Add Your Recipe Below!</h1>

<form action="/posts" method="POST">
    <h4><label for="title">Title:</label><br>
        <input class="custom-form" type="text" name="posts[title]"><br>
    <label for="content">Content:</label> <br>
        <input type="text" class="custom-form" name="posts[content]"></h4><br>
        <br>
    <input class="custom-button" type="submit" value="Submit!">
</form>