<h1>Add Your Recipe Below!</h1>

<form action="/posts" method="POST">

    <div class="wrapper">

        <h4><label for="title">Title</label><br>
            <input class="small-form" type="text" name="post[title]"><br>

        <label for="description">Description</label> <br>
             <input class="large-form" name="post[content]" type="text"><br>
             
        <label for="ingredients">Ingredients</label><br>
            <input class="large-form" type="text" name="post[ingredients]"><br><br></h4>
    </div>

    <div class="wrapper">
        <h4><label for="step[one]">Step 1</label><br>
            <input class="large-form" type="text" name="post[step][][content]"><br><br>

        <label for="step[two]">Step 2</label><br>
            <input class="large-form" type="text" name="post[step][][content]"><br><br>

        <label for="step[three]">Step 3</label><br>
            <input class="large-form" type="text" name="post[step][][content]"><br><br>

        <label for="step[four]">Step 4</label><br>
            <input class="large-form" type="text" name="post[step][][content]"><br><br>

        <label for="step[five]">Step 5</label><br>
            <input class="large-form"  type="text" name="post[step][][content]"><br><br>

        <label for="step[six]">Step 6</label><br>
            <input class="large-form" type="text" name="post[step][][content]"><br><br>
        
    </div>

    <input class="custom-button" type="file" name="post[photo]">

    <input class="custom-button" type="submit" value="Submit!">
</form>